<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC0R37XsWw3CU1FN2ekQH5sc63yXe5gDNs</string>
	<key>GCM_SENDER_ID</key>
	<string>681703183588</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.targetSistemasTestflutterDev</string>
	<key>PROJECT_ID</key>
	<string>target-b2071</string>
	<key>STORAGE_BUCKET</key>
	<string>target-b2071.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:681703183588:ios:44f1850e3b420e47f548f1</string>
</dict>
</plist>